## Introduction
DataSource is a helper class for doing montonous, repetitive tasks related to financial time series data. Quite often, we need to apply a set of common functions such as shifting data, calculating rolling statistics, percent changes etc., for each security in our database by using pandas **groupby** function. DataSource simplifies this process by one-liners instead of multiple lines of pandas code; In fact, its just a fancy wrapper for pandas groupby with some extra goodies.

So instead of 
```python
shift = lambda x: x.shift(1)
dataframe['lag_one'] = dataframe.groupby('symbol')['close'].transform(shift)
```
it would be
```python
dataframe.add_lag(on='close', period=1, col_name='lag_one')
```

The only requirement is that the dataframe must have **symbol and timestamp columns**. 

**If you have them as indexes, reset them as columns**

In [1]:
import pandas as pd
from fastbt.datasource import DataSource

## Initialize DataSource class with a dataframe

In [2]:
df = pd.read_csv('data/bank.csv', parse_dates=['timestamp'])
ds = DataSource(df)

## Use ds.data to get the dataframe back
ds.data.head()

,timestamp,symbol,series,open,high,low,close,last,prevclose,tottrdqty,tottrdval,totaltrades,isin
0,2018-09-03,AXISBANK,EQ,655.45,655.45,629.6,631.8,630.70,649.25,6494484,4.148248e+09,88364,INE238A01034
1,2018-09-03,RBLBANK,EQ,630.10,643.50,622.0,623.9,624.40,627.25,1532438,9.708929e+08,28755,INE976G01028
2,2018-09-03,INDUSINDBK,EQ,1906.00,1918.85,1884.7,1897.0,1895.00,1906.60,937981,1.782402e+09,85683,INE095A01012
3,2018-09-03,KOTAKBANK,EQ,1292.00,1295.00,1265.0,1269.1,1266.25,1287.25,2076747,2.639495e+09,59594,INE237A01028
4,2018-09-03,BANKBARODA,EQ,153.95,156.50,150.9,151.7,151.30,152.95,16081701,2.484263e+09,72339,INE028A01039

In [4]:
# If your dataframe has a different name for the symbol and timestamp
# column, pass them as parameters during initialization
ds = DataSource(df, symbol='symbol', timestamp='timestamp')

DataSource adds a column for each function you specify and returns a dataframe with the column added. The existing functions are

```
 add_lag
 add_pct_change
 add_rolling
 add_formula
 add_indicator 
```

All functions have a col_name argument. Except for ``add_formula``, column names are generated automatically for all functions. 

**All column names, even those specified as arguments, are converted into lower case to make them case-insensitive.**

The following arguments are common to the functions
 * ``col_name`` - column name to be added in dataframe. Mandatory for ``add_formula``, for others added automatically
 * ``period`` - time period for the function
 * ``lag`` - time lag; time by which the result is to be lagged. Not applicable for ``add_lag`` and ``add_formula``
 * ``on`` - column on which the grouping is to be made. Not applicable to ``add_formula`` and ``add_indicator``
 
 Let's see a few examples

## ``add_lag``

adds the given time lag to the specified period

In [5]:
## Add a one day lag to data
ds.add_lag();
print(ds.data.info()) # Column lag_close_1 added automatically
ds.data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 14 columns):
timestamp      48 non-null datetime64[ns]
symbol         48 non-null object
series         48 non-null object
open           48 non-null float64
high           48 non-null float64
low            48 non-null float64
close          48 non-null float64
last           48 non-null float64
prevclose      48 non-null float64
tottrdqty      48 non-null int64
tottrdval      48 non-null float64
totaltrades    48 non-null int64
isin           48 non-null object
lag_close_1    36 non-null float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(3)
memory usage: 5.3+ KB
None

,timestamp,symbol,series,open,high,low,close,last,prevclose,tottrdqty,tottrdval,totaltrades,isin,lag_close_1
0,2018-09-03,AXISBANK,EQ,655.45,655.45,629.6,631.8,630.70,649.25,6494484,4.148248e+09,88364,INE238A01034,NaN
1,2018-09-03,RBLBANK,EQ,630.10,643.50,622.0,623.9,624.40,627.25,1532438,9.708929e+08,28755,INE976G01028,NaN
2,2018-09-03,INDUSINDBK,EQ,1906.00,1918.85,1884.7,1897.0,1895.00,1906.60,937981,1.782402e+09,85683,INE095A01012,NaN
3,2018-09-03,KOTAKBANK,EQ,1292.00,1295.00,1265.0,1269.1,1266.25,1287.25,2076747,2.639495e+09,59594,INE237A01028,NaN
4,2018-09-03,BANKBARODA,EQ,153.95,156.50,150.9,151.7,151.30,152.95,16081701,2.484263e+09,72339,INE028A01039,NaN

In [12]:
# Add a 2 day lag
ds.add_lag(period=2)

# Add a 3 day lag with a custom column name on the open price
ds.add_lag(period=3, col_name='three_day_lag', on='open').dropna().head()

,timestamp,symbol,series,open,high,low,close,last,prevclose,tottrdqty,tottrdval,totaltrades,isin,lag_close_1,lag_close_2,three_day_lag,chg_close_2,rol_mean_close_3
36,2018-09-06,FEDERALBNK,EQ,78.50,78.50,76.70,77.35,77.30,77.75,6731974,5.218088e+08,30898,INE171A01029,77.75,77.00,81.50,-0.037152,77.366667
37,2018-09-06,HDFCBANK,EQ,2049.00,2059.00,2032.60,2052.20,2050.15,2045.85,2600603,5.316363e+09,125530,INE040A01026,2045.85,2051.80,2069.40,-0.014072,2049.950000
38,2018-09-06,ICICIBANK,EQ,330.00,331.25,325.50,328.65,327.95,329.65,11322771,3.724325e+09,81857,INE090A01021,329.65,328.50,343.60,-0.013467,328.933333
39,2018-09-06,IDFCBANK,EQ,45.15,45.40,44.45,44.90,44.70,44.85,12803268,5.735607e+08,23485,INE092T01019,44.85,44.95,47.95,-0.063674,44.900000
40,2018-09-06,AXISBANK,EQ,638.90,643.30,624.60,638.20,637.50,637.65,10026621,6.344121e+09,122891,INE238A01034,637.65,641.80,655.45,0.009259,639.216667

You could use 
```python 
ds.data.info()
```
to see the added columns at the end of each cell

## ``add_pct_change``
add a percentage change column

In [7]:
## Add a 2 day percentage change on close price
ds.add_pct_change(on='close', period=2)

,timestamp,symbol,series,open,high,low,close,last,prevclose,tottrdqty,tottrdval,totaltrades,isin,lag_close_1,lag_close_2,three_day_lag,chg_close_2
0,2018-09-03,AXISBANK,EQ,655.45,655.45,629.60,631.80,630.70,649.25,6494484,4.148248e+09,88364,INE238A01034,NaN,NaN,NaN,NaN
1,2018-09-03,RBLBANK,EQ,630.10,643.50,622.00,623.90,624.40,627.25,1532438,9.708929e+08,28755,INE976G01028,NaN,NaN,NaN,NaN
2,2018-09-03,INDUSINDBK,EQ,1906.00,1918.85,1884.70,1897.00,1895.00,1906.60,937981,1.782402e+09,85683,INE095A01012,NaN,NaN,NaN,NaN
3,2018-09-03,KOTAKBANK,EQ,1292.00,1295.00,1265.00,1269.10,1266.25,1287.25,2076747,2.639495e+09,59594,INE237A01028,NaN,NaN,NaN,NaN
4,2018-09-03,BANKBARODA,EQ,153.95,156.50,150.90,151.70,151.30,152.95,16081701,2.484263e+09,72339,INE028A01039,NaN,NaN,NaN,NaN
5,2018-09-03,SBIN,EQ,312.50,312.50,304.80,306.35,305.65,309.60,14708076,4.560945e+09,94708,INE062A01020,NaN,NaN,NaN,NaN
6,2018-09-03,PNB,EQ,88.30,89.30,86.00,86.35,86.00,88.15,30610408,2.695346e+09,76964,INE160A01022,NaN,NaN,NaN,NaN
7,2018-09-03,IDFCBANK,EQ,47.95,48.85,47.60,47.90,47.95,47.60,6484207,3.130970e+08,15826,INE092T01019,NaN,NaN,NaN,NaN
8,2018-09-03,ICICIBANK,EQ,343.60,344.00,332.55,334.15,335.00,342.60,12859450,4.339500e+09,88616,INE090A01021,NaN,NaN,NaN,NaN
9,2018-09-03,HDFCBANK,EQ,2069.40,2078.95,2063.50,2075.05,2073.95,2061.20,1915402,3.973617e+09,65178,INE040A01026,NaN,NaN,NaN,NaN
10,2018-09-03,FEDERALBNK,EQ,81.50,81.85,80.40,80.75,80.55,81.10,7172556,5.825177e+08,18895,INE171A01029,NaN,NaN,NaN,NaN
11,2018-09-03,YESBANK,EQ,347.95,348.00,337.20,339.05,338.30,343.50,26137760,8.970861e+09,231131,INE528G01027,NaN,NaN,NaN,NaN
12,2018-09-04,HDFCBANK,EQ,2076.90,2077.95,2049.00,2051.80,2052.05,2075.05,1782634,3.670291e+09,67279,INE040A01026,2075.05,NaN,NaN,NaN
13,2018-09-04,AXISBANK,EQ,631.00,644.40,622.75,641.80,642.75,631.80,9305124,5.905252e+09,109084,INE238A01034,631.80,NaN,NaN,NaN
14,2018-09-04,BANKBARODA,EQ,151.30,152.30,144.50,145.55,145.55,151.70,13746105,2.039699e+09,53444,INE028A01039,151.70,NaN,NaN,NaN
15,2018-09-04,RBLBANK,EQ,623.10,627.30,601.50,608.00,607.50,623.90,1608895,9.821391e+08,24934,INE976G01028,623.90,NaN,NaN,NaN
16,2018-09-04,YESBANK,EQ,340.75,343.40,332.55,334.05,333.50,339.05,22057643,7.439453e+09,205971,INE528G01027,339.05,NaN,NaN,NaN
17,2018-09-04,FEDERALBNK,EQ,81.00,81.15,76.20,77.00,77.40,80.75,16528254,1.289517e+09,50199,INE171A01029,80.75,NaN,NaN,NaN
18,2018-09-04,PNB,EQ,86.40,86.85,82.85,83.15,83.30,86.35,25579702,2.167004e+09,60666,INE160A01022,86.35,NaN,NaN,NaN
19,2018-09-04,KOTAKBANK,EQ,1270.00,1275.30,1251.10,1257.60,1259.00,1269.10,2001489,2.516574e+09,49476,INE237A01028,1269.10,NaN,NaN,NaN
20,2018-09-04,INDUSINDBK,EQ,1895.00,1898.80,1843.00,1855.60,1858.30,1897.00,1290572,2.395968e+09,62292,INE095A01012,1897.00,NaN,NaN,NaN
21,2018-09-04,IDFCBANK,EQ,48.15,48.15,44.65,44.95,45.00,47.90,13628779,6.254295e+08,25322,INE092T01019,47.90,NaN,NaN,NaN
22,2018-09-04,ICICIBANK,EQ,334.80,336.45,327.25,328.50,329.00,334.15,15470215,5.118689e+09,125732,INE090A01021,334.15,NaN,NaN,NaN
23,2018-09-04,SBIN,EQ,306.80,307.45,295.45,296.40,296.25,306.35,42859084,1.299177e+10,149148,INE062A01020,306.35,NaN,NaN,NaN
24,2018-09-05,YESBANK,EQ,332.90,344.90,332.25,343.80,344.05,334.05,24809578,8.414837e+09,200611,INE528G01027,334.05,339.05,NaN,0.014010
25,2018-09-05,SBIN,EQ,296.50,298.85,290.40,296.55,296.90,296.40,22922686,6.766403e+09,148306,INE062A01020,296.40,306.35,NaN,-0.031990
26,2018-09-05,RBLBANK,EQ,605.10,610.95,586.20,593.55,594.00,608.00,1533562,9.128527e+08,27460,INE976G01028,608.00,623.90,NaN,-0.048646
27,2018-09-05,KOTAKBANK,EQ,1257.00,1266.00,1227.60,1238.15,1237.00,1257.60,2262546,2.806938e+09,74217,INE237A01028,1257.60,1269.10,NaN,-0.024387
28,2018-09-05,INDUSINDBK,EQ,1855.80,1864.70,1825.00,1854.85,1860.00,1855.60,804386,1.481158e+09,45554,INE095A01012,1855.60,1897.00,NaN,-0.022219
29,2018-09-05,PNB,EQ,83.20,83.85,81.40,83.10,83.15,83.15,21704587,1.794075e+09,54937,INE160A01022,83.15,86.35,NaN,-0.037638
30,2018-09-05,IDFCBANK,EQ,44.95,45.50,43.65,44.85,45.15,44.95,9884978,4.405838e+08,19418,INE092T01019,44.95,47.90,NaN,-0.063674
31,2018-09-05,HDFCBANK,EQ,2053.80,2060.20,2035.55,2045.85,2044.35,2051.80,1410377,2.883899e+09,73829,INE040A01026,2051.80,2075.05,NaN,-0.014072
32,2018-09-05,FEDERALBNK,EQ,77.40,78.15,75.65,77.75,77.80,77.00,10489491,8.062858e+08,36246,INE171A01029,77.00,80.75,NaN,-0.037152
33,2018-09-05,BANKBARODA,EQ,145.40,146.55,140.50,144.55,144.45,145.55,12672028,1.825173e+09,50620,INE028A01039,145.55,151.70,NaN,-0.047132
34,2018-09-05,AXISBANK,EQ,641.00,646.65,631.35,637.65,637.00,641.80,8837398,5.642182e+09,113081,INE238A01034,641.80,631.80,NaN,0.009259
35,2018-09-05,ICICIBANK,EQ,327.00,331.35,324.60,329.65,329.00,328.50,14548867,4.770315e+09,106589,INE090A01021,328.50,334.15,NaN,-0.013467
36,2018-09-06,FEDERALBNK,EQ,78.50,78.50,76.70,77.35,77.30,77.75,6731974,5.218088e+08,30898,INE171A01029,77.75,77.00,81.50,0.004545
37,2018-09-06,HDFCBANK,EQ,2049.00,2059.00,2032.60,2052.20,2050.15,2045.85,2600603,5.316363e+09,125530,INE040A01026,2045.85,2051.80,2069.40,0.000195
38,2018-09-06,ICICIBANK,EQ,330.00,331.25,325.50,328.65,327.95,329.65,11322771,3.724325e+09,81857,INE090A01021,329.65,328.50,343.60,0.000457
39,2018-09-06,IDFCBANK,EQ,45.15,45.40,44.45,44.90,44.70,44.85,12803268,5.735607e+08,23485,INE092T01019,44.85,44.95,47.95,-0.001112
40,2018-09-06,AXISBANK,EQ,638.90,643.30,624.60,638.20,637.50,637.65,10026621,6.344121e+09,122891,INE238A01034,637.65,641.80,655.45,-0.005609
41,2018-09-06,RBLBANK,EQ,598.00,600.00,578.65,591.55,591.60,593.55,1766611,1.039492e+09,45182,INE976G01028,593.55,608.00,630.10,-0.027056
42,2018-09-06,SBIN,EQ,298.00,299.85,294.50,296.45,294.90,296.55,18001336,5.352603e+09,111206,INE062A01020,296.55,296.40,312.50,0.000169
43,2018-09-06,KOTAKBANK,EQ,1242.00,1264.60,1238.15,1260.90,1258.55,1238.15,2947633,3.706721e+09,66281,INE237A01028,1238.15,1257.60,1292.00,0.002624
44,2018-09-06,INDUSINDBK,EQ,1870.00,1885.00,1851.00,1880.00,1879.00,1854.85,1003340,1.879392e+09,54166,INE095A01012,1854.85,1855.60,1906.00,0.013149
45,2018-09-06,BANKBARODA,EQ,145.90,147.10,144.15,146.10,145.70,144.55,10475666,1.525306e+09,40096,INE028A01039,144.55,145.55,153.95,0.003779
46,2018-09-06,PNB,EQ,84.00,84.70,82.85,83.25,83.20,83.10,25079939,2.096853e+09,57788,INE160A01022,83.10,83.15,88.30,0.001203
47,2018-09-06,YESBANK,EQ,346.55,347.80,337.90,339.20,339.10,343.80,17527530,6.001339e+09,141838,INE528G01027,343.80,334.05,347.95,0.015417

Calculate the 2 day percentage change in close price and lag it by one day.
This is especially useful if you want to know the 2 day returns on the morning of the 3rd day

In [8]:
ds.add_pct_change(on='close', period=2, lag=1)
ds.data.head()

,timestamp,symbol,series,open,high,low,close,last,prevclose,tottrdqty,tottrdval,totaltrades,isin,lag_close_1,lag_close_2,three_day_lag,chg_close_2
0,2018-09-03,AXISBANK,EQ,655.45,655.45,629.6,631.8,630.70,649.25,6494484,4.148248e+09,88364,INE238A01034,NaN,NaN,NaN,NaN
1,2018-09-03,RBLBANK,EQ,630.10,643.50,622.0,623.9,624.40,627.25,1532438,9.708929e+08,28755,INE976G01028,NaN,NaN,NaN,NaN
2,2018-09-03,INDUSINDBK,EQ,1906.00,1918.85,1884.7,1897.0,1895.00,1906.60,937981,1.782402e+09,85683,INE095A01012,NaN,NaN,NaN,NaN
3,2018-09-03,KOTAKBANK,EQ,1292.00,1295.00,1265.0,1269.1,1266.25,1287.25,2076747,2.639495e+09,59594,INE237A01028,NaN,NaN,NaN,NaN
4,2018-09-03,BANKBARODA,EQ,153.95,156.50,150.9,151.7,151.30,152.95,16081701,2.484263e+09,72339,INE028A01039,NaN,NaN,NaN,NaN

You could also pass keyword arguments to the percent change function. These arguments are passed on to the pandas function before computing the results.
So let's compute the percent change by backfilling NA data

In [9]:
ds.add_pct_change(on='close', period=2, lag=1, fill_method='bfill');

## ``add_rolling``
add a rolling statistic column

In [10]:
ds.add_rolling(window=3, on='close', function='mean');

mean

## ``add_formula``
add a formula column

The formula should be a string

In [11]:
ds.add_formula()

TypeError: add_formula() missing 2 required positional arguments: 'formula' and 'col_name'

## ``add_indicator``

add a technical indicator

In [ ]:
ds.add_indicator('RSI', 2);

## A few shortcuts

Adding columns in bulk.

In [ ]:
# Add 2,3,5 day returns
[ds.add_pct_change(on='close', period=i, col_name='ret' + str(i))
 for i in [2,3,5]]
ds.data.info()

## ``batch_process``
Batch process